<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>OtherWorld.link-异世界连接</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/initial.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/index.css">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="navbar navbar-default navbar-fixed-top" role="navigation">
 		<div class="container">

			<ul class="nav navbar-nav" id="navbar-l">
				<li><a id="test1" href="{% url 'create_newdefine' %}">特别个人</a></li>
				<li><a href="{% url 'current_defines' %}">中继枢纽</a></li>
			</ul>
			<div class="navbar-header" id="navbar-m">
				<a class="navbar-brand" href="{% url 'index' %}">异世界连接</a>
			</div>
			<ul class="nav navbar-nav" id="navbar-r">
				<li><a href="{% url 'project_details' %}">发布</a></li>
				<li><a href="">Map</a></li>
				<li><a href="">News</a></li>
			</ul>
			<div class="dropdown" id="usermenu">
				<button class="btn dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<img src="../static/img/user01.jpg" alt="用户头像" width="30px"><span>薛定谔的猫</span><span class="badge">42</span>
					<span class="caret"></span>
				</button>
				 	<ul class="dropdown-menu self-fade" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a href="#">个人中心</a></li>
					    <li role="presentation"><a href="#">消息</a></li>
					    <li role="presentation"><a href="#">设置</a></li>
					    <li role="separator" class="divider"></li>
					    <li role="presentation"><a href="#">注销</a></li>
					</ul>					
			</div>
		</div>
	</header>
	<div id="content-wrap-1">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0" id="content-1">
					<div class="page-header">
						<h1>OtherWorld.link</h1>	
					</div>
					<p>相对于现在生存的世界，异世界是更加有趣的世界</p>
					<p>异世界存在于现存的世界之中，狭缝中的细微之处</p>
					<p>每一个异样的个体都有着自己异样的内在世界，也存在将那个异样世界实现的可能性</p>
					<p>异世界连接，作为一个将不同异类连接在一起的枢纽，期望着由这里汇聚的人们和他们的愿望能够诞生出通向异世界的门和钥匙。</p>
					<p>一边是异样的个体，另一边是异样的世界，而这里是otherworld.link，将怪异的众人连接在一起的，将希望连接在一起的，将未来与现在连接在一起的，归属</p>
					<p>这里是通往异世界的连接点和休憩之处，希望汝们能够在这里遇见去往同一个世界的同伴。即便独自一人也不会孤独，因为你身边有其他如繁星闪烁于黑夜的无数存在。</p>
				</div>
			</div>
			
		</div>
	</div>
	<div id="content-wrap-2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0" id="content-2">
					<div class="page-header">
						<h1>个人绝对领域</h1>	
					</div>
					<div class="row">
						<div class="col-xs-6">
							内容	<br><br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>				
						</div>
					</div>
					<a type="button" class="btn btn-danger" href="">创建属于你的个人领域</a> 
					<div>
						
					</div>
					
				</div>
			</div>
		</div>			
	</div>
	<div id="content-wrap-3">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0" id="content-3">
					<div class="page-header">
						<h1>个人绝对领域</h1>	
					</div>
					<div class="row">
						<div class="col-xs-6">
							内容	<br><br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>				
						</div>
					</div>
					<a type="button" class="btn btn-danger" href="">创建属于你的个人领域</a> 	
				</div>
			</div>
		</div>			
	</div>
	<div id="content-wrap-4">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0" id="content-4">
					<div class="page-header">
						<h1>个人绝对领域</h1>	
					</div>
					<div class="row">
						<div class="col-xs-6">
							内容	<br><br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>				
						</div>
					</div>
					<a type="button" class="btn btn-danger" href="">创建属于你的个人领域</a> 	
				</div>
			</div>
		</div>			
	</div>	
	<footer class="container-fluid" id="footer-wrap">
		<div class="container">
				<ul id="footer-content">
					<li><a href="">关于我们</a></li>
					<li><a href="">微博</a></li>
					<li><a href="">微信号</a></li>
					<li><a href="">bilibili</a></li>
					<li><a href="">Team</a></li>
					<li><a href="">反馈</a></li>
				</ul>
		</div>
	</footer>
</body>
</html>