@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-11-11 23:27:10
 * @version $Id$
 */
 /*=========linhub =========*/
#content-wrap-1 {
	padding-top: 70px;
	background-color: #133d67;
	padding-bottom:20px; 
}
.col-xs-12>h1 {

}
#content-wrap-2 {
	padding-top: 5px;
	background-color: #fff;
	padding-bottom:50px; 
}
#content-2-right {
/* 	height: 600px;*/
 	border-left: 1px solid #d1d1d1;
}
#content-2-left li{
 	list-style: none;
}
.self-hover {
	transition: all .3s;
}
.comment-footer {
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.comment-btn {
	float: right;
}
