@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-11-11 23:04:05
 * @version $Id$
 */
/*======左边的个人信息面板========*/
#content-wrap {
    background: #b4daf0;
}
.margin-top {
    margin-top: 49px;
    height: 1000px;
}
.left-panel {
    margin-top: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}
#panel-top-pic {
    width: 262.5px;
    padding-bottom: 10px;
}
#panel-username {
    display: block;
}
.user-span {
    display: block;
}
#user-pic {
    width:56px;
    position: absolute;
    top: -16%;
    left: 13%;
}
.panel-btn {
line-height: 90px;
}
/*======左边的个人信息面板========*/
/*======中间状态内容========*/
#publish {
    margin-top: 20px;
    padding:20px;
    background: #fff;
    border-radius: 8px;
}
#publish button,span {
    margin-left: 10px;
}
.publish-choose {
    font-size: 20px;
}
.nav-wrap {
    margin-top:10px;
    background: #fff;
    border-radius: 8px;
}
/*======中间状态主体========*/
.content-wrap {
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
    height:300px;
    background-color: #fff;
    border-radius: 8px;
}
.content-user-pic {
    position: absolute;
    top: 20px;
    left: 30px;
    width:56px;
}